body {
  font-family: 'Raleway', sans-serif;
  /* background-color: black; */
}

nav {
  z-index: 1;
}

#headerPic {
  height: auto;
  width:100%;
  margin: -800px 0 0 0;
  z-index: -1;
  position: relative;
}

.scroll-text {
  color:rgb(217, 142, 172);
  position: absolute;
  top:95%;
  left:50%;
  border: 1px solid rgb(217, 142, 172);
}

.body-bg {
  position: absolute;
  top:105%;
  width: 100%;
  height:100%;
  background-color:#846d95;
  opacity:75%
}
/* body, html {
  height: 100%;
  
  margin: 0;
}

.bg {

  background-image: url("./src/components/Header/20200602_212937_1.gif    ");


  height: 100%;  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@keyframes background-stretch {
    0% {
      transform: scale(0, .025)
    }

    100% {
      transform: scale1, .025
    }
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
