* {
  font-family: 'Raleway', sans-serif;
}

html {
  background:url('./components/Header/20200602_213040.jpg');
  background-size:cover;
  min-width: 1000px;
  margin: -400px 0 0 0;
  /* background-position: center; */
  
}

nav {
  z-index: 1;
}

#headerPic {
  height: auto;
  width:100%;
  margin: -800px 0 0 0;
  z-index: -2;
  position: relative;
}

.scroll-text {
  color:rgb(217, 142, 172);
  position: absolute;
  top:95%;
  left:50%;
  border: 1px solid rgb(217, 142, 172);
}

.bodyBg {
  position: absolute;
  top:120%;
  width: 100%;
  height:100%;
  background-color:#846d95;
  opacity:0;
  /* transform:scale(1.2); */
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
.bodyBg {
  transition: opacity .5s ease-in, transform .5s ease-in;
}
}

.showOnScroll{
  opacity: 1;
  transform: none;
}

.sectionTitle {
  text-orientation: upright;
}