* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color:#846d95!important; 
}

nav {
  z-index: 1;
}

/* main image */
#headerPic {
  height: auto;
  width:100%;
  z-index: -2;
  position: relative;
}

/* section spacing and borders */
.bodySpace {
  margin: 100px 0;
  border-top: 5px double black;
  padding: 30px 0;
}

/* pushing content down for spacing */
#work {
  margin-top: -30%;
}

/* scroll indicator */
.scroll-text {
  color:rgb(217, 142, 172);
  position: absolute;
  top:95%;
  left:50%;
  border: 1px solid rgb(217, 142, 172);
}

/* fade in background color */
.bodyBg {
  position: absolute;
  top:120%;
  width: 100%;
  height:350%;
  background-color:#846d95;
  opacity:0;
  z-index: -1;
}

/* creating fade in */
.offScroll {
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
.bodyBg {
  transition: opacity .5s ease-in, transform .5s ease-in;
}

.offScroll {
  transition: opacity .5s ease-in, transform .5s ease-in;
}
}

.showOnScroll{
  opacity: 1;
  transform: none;
}

/* situating section titles */
.sectionTitle {
font-size:5rem;
writing-mode:vertical-rl;
text-orientation:sideways-right;
transform: rotate(180deg)
}

/* work image gallery */

/* .workImage {
height:450px;
width:800px;
margin: 5px;
} */

.frame {
  height:450px;
  width:800px;
  overflow:hidden;
  margin: 15px 0;
}

.zoom img{
  transition: transform 1s ease-in-out;
  /* transform-origin: center center;   */
}

.zoom:hover .imageText{
  opacity:1;
}

.zoom img:hover {
  transform: scale(1.3);
  opacity:1;
}

.imageTextControl {
  position:absolute;
}

.imageText {
    position:relative;
    color:white;
    background-color: rgb(33, 37, 41, 0.8);
    transition: opacity 1s ease-in-out;
    opacity:0;
    margin-top: -240px;
    margin-left:20px;
    width:90%;
    text-align:center;
}

/* about styling */

.aboutText {
  font-size:1.2em;
}

.responsive {
  min-width:200px;
  max-width:100%;
  height:auto;
}

/* contact list styling */
.contactList {
  font-size:2em;
  list-style: none;
  color:black;
}

/* link customization */
a:link, a:visited {
  color: black;
  text-decoration: none; 
}


a:hover, a:active {
  color:white!important;
}

/* footer styling */
footer{
text-align: center;
margin-top:225px;
border-top: 5px double black;
}


/* sizing for responsiveness */
@media screen and (max-width: 1300px) {
  .bodyBg {
    top:100%;
    height:350%;
  }
}

@media screen and (max-width: 1000px) {
  .scroll-text {
  opacity:0;
  }

  .bodyBg {
    top:90%;
    height:400%;
  }
}

@media screen and (max-width: 900px) {
  .bodyBg {
    top:80%;
    height:350%;
  }
}

@media screen and (max-width: 800px) {
  .sectionTitle {
    font-size:4rem;
    writing-mode:horizontal-tb;
    text-orientation:sideways-right;
    transform: rotate(0);
    }

    .bodyBg {
      top:60%;
      height:370%;
    }
    
    #smallTitle {
      writing-mode:vertical-rl;
      text-orientation:sideways-right;
      transform: rotate(180deg)
    }
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    font-size:3rem;
    }

    .bodyBg {
      top:60%;
      height:520%;
    }

    #smallTitle {
      writing-mode:horizontal-tb;
      text-orientation:sideways-right;
      transform: rotate(0);
    }
}

@media screen and (max-width: 500px) {
  .bodyBg {
    top:50%;
    height:550%;
  }
}

@media screen and (max-width: 450px) {
  .sectionTitle {
    font-size:2rem;
    }
  .bodyBg {
    top:40%;
    height:550%;
  }
}